<h1>Twatter</h1>
<form class="recent_tweets_form" action="/recent_tweets" method="GET">
	<input type="text" name="twitter_handle" placeholder="enter a twitter handle">
	<input id="recent_tweets_btn" type="submit" value="Get Recent Tweets!">
</form>

<div id="user_tweets"></div>
