<form class="recent_tweets_form" action="/recent_tweets" method="GET">
	<p><input type="text" name="twitter_handle" placeholder="enter a twitter handle"></p>
	<p><input type="submit" value="Get Recent Tweets!"></p>
</form>
